@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #0ad4f7;
}

body {
  background-color: var(--main-bg-color); /* CSS property achtergrond is in de root defined */
  font-family: "Roboto",Tahoma, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.registratie {
  background-color:  #ffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 400px;
  max-width: 100%;

}

p {
  color: #e74c3c;
}

.header-text {
  display: block;
  font-family: "Roboto",Tahoma, Verdana, sans-serif; /* Fallback font*/
  color: #eee;
  font-size: 1.5 em;
  text-align: center;
  margin: 1em 1em;
}

a {
  display: flex;
  align-items: center;
}

form label {
  display: inline-block;
  text-align: center;
  margin: 0.5em;
}

fieldset {
  border: none;
  margin: 1em;
}

input {
  border: 2px solid #eee;
  display: block;
  width: 100%;
  padding: 0 10px;
  height: 3.5em;
  font-size: 0.7em;
  font-weight: 400;
}

input:focus {
  outline: 0;
  background-color: #b2b2b2;
}

p {
  color: #e74c3c;
  position: absolute;
  bottom: 0;
  left: 0;

}

button {
  background-color: var(--main-bg-color);
  border: 2px solid var(--main-bg-color);
  display: block;
  align-items: center;
  border-radius: 4px;
  color: #ffff;
  font-family: inherit;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 75%;
}