<!DOCTYPE html>
<html>
<body>
    <h1>Registratie</h1>
    <section class="registratie">
        <form action=/registerUser method= post >
            <fieldset>
                <label for="voornaam">voornaam</label>
                <input type="text" name = 'voornaam' placeholder="voornaam" required/>
            </fieldset>
            <fieldset>
                <label for="emailadres">emailadres</label>
                <input type="email" name = 'emailadres' placeholder="emailadres" required/>
            </fieldset>
            <fieldset>
                <label for="pass">wachtwoord</label>
                <input type="password" name = 'wachtwoord' required/>
            </fieldset>
            <fieldset>
                <button type="submit">registreren</button>
            </fieldset>
        </form>
    </section> 
</body>
</html>