<!DOCTYPE html>
<html>
<body>
    <h1>Registratie</h1>
    <section class="registratie">
        <form id="progressive-form" action='/register' method= post >
            <fieldset id="form-username">
                <label for="username">voornaam</label>
                <input id="username" type="text" name = 'username' placeholder="username" required/>
            </fieldset>
            <fieldset id="form-email">
                <label for="emailadres">emailadres</label>
                <input id="email" type="email" name = 'email' placeholder="emailadres" required/>
            </fieldset>
            <fieldset id="form-password">
                <label for="pass">wachtwoord</label>
                <input id="password" type="password" name = 'password' required/>
            </fieldset>
            <fieldset>
                <button type="submit" id="submit" value="registreren">registreren</button>
            </fieldset>
        </form>
    </section> 
</body>
</html>
