<section>
    <h1>Profiel hallo je bent ingelogt :)))</h1>
</section>

<section>
    <form action="/profile/logout" method="post">
        <button type="submit" class="logoutbutton">uitloggen</button>
    </form>
</section>