<section>
    <h1>Profiel hallo je bent ingelogt :)))</h1>
</section>

<section>
    <form action="/profile/logout" method="post">
        <button type="submit" class="logoutbutton">uitloggen</button>
    </form>
</section>

<section>
    <ul class="list"></ul>
    <ul class="pickupLines"></ul>
</section>

<p id="result"></p>
<button id="cat_btn">kat</button>

<script src="script/api.js"></script>